<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings">SwapHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">SwapHub</h5>
        <button type="button" class="btn-close .btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-lg-flex justify-content-lg-between">
        <ul class="navbar-nav justify-content-start  pe-3">
          <li class="nav-item mx-lg-2">
            <a class="nav-link active" aria-current="page" href="/listings">Home</a>
          </li>
          <li class="nav-item mx-lg-2">
            <a class="nav-link active" aria-current="page" href="/listings/new">Add</a>
          </li>
          <li class="nav-item dropdown mx-lg-2">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Category
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item " href="/listings/rent">Rent Product</a></li>
              <li><a class="dropdown-item" href="/listings/buy">Buy product</a></li>
              <li>
            </ul>
          </li>
        </ul>
        <form action="/search" class="d-flex col-lg-4  mt-1" role="search">
          <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <ul class="navbar-nav justify-content-start  pe-3">
          <% if(!currUser){ %>
            <li class="nav-item mx-lg-2">
              <a class="nav-link" aria-current="page" href="/signup">signup</a>
            </li>
            <li class="nav-item mx-lg-2">
              <a class="nav-link" aria-current="page" href="/login">login</a>
            </li>
            <% } %>
            <% if(currUser){ %>
              <li class="nav-item mx-lg-2">
              <a class="nav-link" href="/listings"><b>@<%=currUser.username %></b></a>
            </li>
            <li class="nav-item mx-lg-2">
            <a class="nav-link" href="/logout">Log out</a>
            </li>
            <% } %>
          
          </ul>
      </div>
    </div>
  </div>
</nav>

