<%- layout('layouts/boilerplate.ejs') %>

<div class="row">
  <div class="col-8 offset-2" >
    <h1 class="mt-4">add your item here</h1>
 <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" name="listing[title]" placeholder="Enter title" class="form-control" required>
      <div class="invalid-feedback">Title can't be empty</div>
    </div>
    <div class="mb-3">
      <label form="image" class="form-label">Upload Image</label>
      <input type="file" name="listing[image]" id="" class="form-control" required>
    </div>

    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea name="listing[description]" id="" placeholder="description"  class="form-control" required></textarea>
      <div class="invalid-feedback">Description can't be empty</div>
    </div>
  
    <div class="row">
      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input type="text" name="listing[price]" placeholder="enter price"  class="form-control" required>
        <div class="invalid-feedback">Price can't be empty</div>
      </div>
      <div class="mb-3 col-md-5">
        <label for="location" class="form-label">Location/Hostel</label>
        <input type="text" name="listing[location]" placeholder="enter your location" class="form-control" required>
        <div class="invalid-feedback">Title can't be empty</div>
      </div>
    </div>
    <div class="mb-3">
      <label for="location" class="form-label">College</label>
      <input type="text" name="listing[college]" placeholder="enter your College" class="form-control" required>
      <div class="invalid-feedback">College can't be empty</div>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="listing[type]" id="exampleRadios1" value="rent" checked>
      <label class="form-check-label" for="exampleRadios1">
        for rent
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="listing[type]" id="exampleRadios1" value="buy" checked>
      <label class="form-check-label" for="exampleRadios1">
        for sell
      </label>
    </div>
    <button class="btn btn-dark mt-3 mb-4">add</button>
  </form>
</div>
</div>