
body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgba(102, 51, 153,0.1);
}
h1{
    text-align: center;
}
.body-container{
    flex:1;
    margin: 0 100px;
    padding-top: 80px;
    
}
body>h1{
    text-align: center;
    padding-top: 10px;
}


.dropdown-toggle.active {

    font-weight: 300; /* Optional, to make it stand out */
}

.f-info-links a{
     text-decoration: none;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    margin-top: 10px;
    font-size: 1.2rem;
}

.f-info-social{
    margin-bottom: 10px;
    font-size: 1.2rem;
}
.f-info-social i{
    margin-right: 20px;
}
.f-info{
   color: white;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

} 
/* cards */

.listing-card{
    border: none;
    margin-bottom: 2rem;
    background-color:inherit;

}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important; 
}

.card-body{
    padding: 0 !important;
    
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: #ffffff;
}


/* review card */
.review-card{
    background-color: rgba(255,255,255,0.5);
}
/* show image */

/* delete btn */
.delete-btn{
    background-color: rgb(224, 81, 81);
}

/* css */
/* {
    background-color: #0A8C74;
} */

  /* .pro-container a{
     text-decoration: none;
     color: black;
  }
   .pro{
    padding :10px 12px;
    min-height: 350px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
    margin: 15px 0px;
    transition: 0.2s ease;
    background-color: rgba(255,255,255,0.7);
  }
  .pro-img{
    height: 250px;
  }
  .pro .des{
    min-height: 100px;
  }
   .pro img{
    width :100%;
    max-height: 250px;
    border-radius: 20px;
  
  }
  
   .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
  
  }
   .pro .des{
    text-align: start;
    padding:10px 0;
  }
   .pro .des span{
    font-size: 12px;
    color: #000000;
  }
   .pro .des h5{
    padding-top: 7px;
    color:#000;
    font-size: 14px;
  }
   .pro .des .star i{
    font-size: 12px;
    color: rgb(234,181,25);
  }
   .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700px;
    color: #0A8C74;
  } */

  .pro-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
  }
   .pro{
    width: 22%;
    min-width: 150px;
    padding :10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 15px;
    transition: 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
   .pro img{
    width :100%;
    max-height: 250px;
    border-radius: 20px;
  
  }
  
   .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.6);
  
  }
   .pro .des{
    text-align: start;
    padding:10px 0;
  }
   .pro .des span{
    font-size: 12px;
    color: #000000;
  }
   .pro .des h5{
    padding-top: 7px;
    color:#000;
    font-size: 14px;
  }
   .pro .des .star i{
    font-size: 12px;
    color: rgb(234,181,25);
  }
   .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700px;
    color: #0A8C74;
  }
.pro p{
  color: #0A8C74;
}  


  .book a{
        text-decoration: none;
        color: white;
        width: 100%;
  }
  /*  category */

  .category{
      background-color: rgba(0,0,0,0.1);
      display: flex;
      border-radius: 0 0 10px 10px ;
  }
  .category h5{
        margin-left: 20px;
  }
.category a{
    text-decoration: none;
    color:#0A8C74;
}

.review{
    width: 30%;
}

/* blur */
.blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3); /* Optional: Add a dark overlay */
    z-index: 10; /* Make sure it's on top */
  
  }

.blur-body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
    justify-content: center; /* Horizontally center */
    align-items: center; /
}

.blur-form{
  width: 100%;
  height: 100%;
}
.blur-flash{
  
  height: 60px;
  width: 100%;
}
  .content {
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.6);
    border: 1px solid rgba(0,0,0,0.4);
    position: relative; /* This keeps the content inside the page */
    z-index: 20; /* Ensures content appears above the blur overlay */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 20px 20px 30px;
    margin-top: 20px;
  }
  
  .listing-form{
    margin: 10px 400px 50px;
  }
  
  @media(max-width:990px)
  {
    .body-container{
        margin: 0 50px;
    }
    .listing-form{
      margin: 10px 100px 50px;
    }
    .pro {
      width: 40%;
  }
  .review{
      width: 40%;
  }
  
  }

  @media(max-width:500px)
  {
        .body-container{
            margin: 0 10px;
        } 
        .offcanvas {
            width: 80% !important; /* Set the width to 50% of the screen */
          }
          .pro-container{
            justify-content: space-between;
          }
          .pro {
            width: 44%;
            margin:10px 0;
            box-shadow: 10px 10px 15px rgba(0,0,0,0.2);
        }
        .review{
          
            width: 100%;
        }
    
        .content {
          height: 500px;
          width: 300px;
        }
           .listing-form{
       margin: 10px 10px 50px;
  }
  }

  