<%- layout('layouts/boilerplate.ejs') %>

<div class="row mt-5" >
    <h3 class="offset-lg-3 offset-sm-3">Signup for SwapHub</h3>
    <div class="col-lg-4 offset-lg-3 col-sm-6 offset-sm-3">
        <form action="/signup" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label for="username" class="form-label">username</label>
                <input type="text" id="username" name="username"  class="form-control" required>
                <div class="invalid-feedback">username can't be empty</div>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input type="email" id="email" name="email"  class="form-control" required>
                <div class="invalid-feedback">email can't be empty</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">password</label>
                <input type="password" id="password" name="password"  class="form-control" required>
                <div class="invalid-feedback">password can't be empty</div>
              </div>
              <button class="btn btn-success mt-3 mb-4">SignUp</button>
        </form>
    </div>
</div>